:root {
    --color-primary: #917758;
    --color-secundary: #3c2915;
    --color-primary-ligth: #f5eee6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/************* 
    HOME
*************/

.home {
    position: relative;
    background-size: cover;
    background-image: url(../images/bg-home.jpg);
    height: 100vh;

}

.home .header{
    padding: 30px 0;
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
}

.home .header .nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.home .header .nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
}

.home .header .nav ul li a:hover {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.home .header .nav ul li .logo {
    margin: 0 30px;
}

/******************* 
    HOME - BANNER
********************/

.home .banner {
    /* A posição absoluta sempre se refere a posição relativa pai, caso contrario obedece ao pai body */
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 770px;
    /* o maring top e left negativo serva para eu colocar a div exatamente no meio da pagina/section */
    margin-top: -75px;
    margin-left: -385px;
    color: white;
    text-align: center;
}

.home .banner span {
    display: block;
}

.home .banner .slogan1 {
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.home .banner h1 {
    font-size: 120px;
}

.home .banner .slogan2 {
    margin-bottom: 15px;
}

/*********** 
    ABOUT
************/

.about {
    background-color: var(--color-primary);
}

.about .container {
    display: flex;
}

.about .container .timing {
    position: relative;
    top: -50px;
    width: 33%;
    padding: 20px;
    background-image: url(../images/brush-big.jpg);
}

.about .container .timing .overlay {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 40px 20px;
}

.about .container .timing .overlay .icon-cut {
    width: 50px;
}

.about .container .timing .overlay h3 {
    color: var(--color-primary);
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-primary);
    /* fit-content: deixa o elemento na mesma largura do h3 */ 
    width: fit-content;
    margin: 0 auto 30px auto;
    font-size: 30px;
}

.about .container .experience {
    width: 66%;
}

.about .container .timing .overlay .text {
    margin: 10px 0;
}

.about .container .timing .overlay .text:after {
    content: '•';
    display: block;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

.about .container .timing .overlay .text:last-of-type:after {
    content: '|';
}

.about .container .timing .overlay h4 {
    color: grey;
    font-weight: 400;
    font-size: 15px;
}

.about .container .timing span {
    color: white;
    font-size: 15px;
    display: block;
}

.about .experience {
    width: 66%;
    color: white;
    margin-left: 7%;
    margin-top: 100px;
}

.about .experience h2 {
    font-weight: 400;
    font-size: 40px;
}

.about .experience h2:after {
    display: block;
    content: '';
    width: 100px;
    height: 3px;
    background-color: white;
    margin: 20px 0;
}

.about .experience .text {
    display: flex;
    justify-content: space-between;
}

.about .experience .text p {
    margin-bottom: 20px;
    /* font-weight: 100; */
    font-size: 17px;
}

/************* 
    SERVICES
*************/

.services {
    padding: 100px 0;
    text-align: center;
    background-color: var(--color-primary-ligth);
}

.services h2 {
    color: var(--color-secundary);
    font-weight: 400;
    font-size: 50px;
}

.services .boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.services .box {
    border: 3px solid var(--color-primary);
    padding: 50px 40px;
    margin: 30px;
}

.services .box h4 {
    color: var(--color-secundary);
    margin-top: 30px;
}

.services .box p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px;
}